# Virtualenv
env/

# Database (for development)
db.sqlite3

# Script storage
scripts/

# Pycache
**/__pycache__/

# VSCode settings
.vscode/

# Sourcery config
.sourcery.yaml

# Ignore other files
others/

# Ignore JetBrains IDEs
.idea/

# Ignore static files
static/

# Ignore secrets
deploy/secrets/
deploy/old/
mysql.cnf

# Ignore Dockerfile
Dockerfile