# Server dependencies
django
django-filter
markdown
djangorestframework

# MySQL database
mysqlclient

# For OpenAPI schema generation
drf-spectacular

# For django-filter bootstrap styling
django-crispy-forms

# Testing dependencies
pytest
pytest-django
